---
import Layout from '../layouts/Layout.astro';
import { initializeApp } from 'firebase/app';
import MascotaForm from '../components/MascotaForm.jsx';
//import { getDatabase, ref, set } from 'firebase/database';


// Configura tu aplicación de Firebase con tus claves
const firebaseConfig = {
  apiKey: "AIzaSyAyDdP0QjxPDvcB9DdGju9Xl7ouGvjZ2hI",
  authDomain: "mascotas-8fa86.firebaseapp.com",
  projectId: "mascotas-8fa86",
  storageBucket: "mascotas-8fa86.appspot.com",
  messagingSenderId: "960763048480",
  appId: "1:960763048480:web:3feda522a90efea1390245"
};

// Inicializa la aplicación de Firebase
const app = initializeApp(firebaseConfig);
//const database = getDatabase(app);
---


<Layout title="PortalMascotas.">
	<main>

		<h1>Buscar <span class="text-gradient">Mascotas </span>🐶</h1>
		<MascotaForm client:load />	
</main>
</Layout>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size:2.9rem;
        margin-top:1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color:rgb(50, 47, 47);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}


</style>